In [11]:
from pyspark.sql import Row

In [12]:
olimpiadas = sc.textFile('medallistas.txt').map(lambda x: x.split(',')).map(lambda x: Row(nombre=x[0],medallas=x[1],edad=int(x[2]))).collect()

In [16]:
df = sqlContext.createDataFrame(olimpiadas)
sqlContext.registerDataFrameAsTable(df,'medallistas')
df.registerTempTable('medallistas')
sqlContext.sql("Select count(medallas) as Medallas,Edad from medallistas group by edad").show()

+--------+----+
|Medallas|Edad|
+--------+----+
|       1|  29|
|       1|  19|
|       2|  22|
|       1|  88|
|       1|  11|
|       1|  49|
|       1|  78|
|       1|  18|
|       1|  69|
|       1|  15|
|       1|  30|
|       1|  20|
|       1|  47|
|       2|  24|
+--------+----+

In [17]:
sqlContext.sql("Select nombre,count(medallas) as totalMedallas,medallas from medallistas where medallas='oro' group By nombre,medallas order By count(medallas) DESC").show()

+------+-------------+--------+
|nombre|totalMedallas|medallas|
+------+-------------+--------+
+------+-------------+--------+

In [18]:
sqlContext.sql("Select nombre,count(medallas) as totalMedallas,medallas from medallistas group By nombre,medallas order By medallas,count(medallas) DESC").show()

+----------+-------------+--------+
|    nombre|totalMedallas|medallas|
+----------+-------------+--------+
| Pokabroma|            1|  Bronce|
|  Pochinki|            1|  Bronce|
|    ACM1PT|            1|  Bronce|
|Chuminamen|            1|  Bronce|
|   Jadergo|            1|  Bronce|
|    Edriki|            1|  Bronce|
|   Josanko|            3|     Oro|
| Romonowik|            1|     Oro|
|    ACM1PT|            1|     Oro|
|   Jadergo|            1|     Oro|
| Julandron|            1|     Oro|
| Romonowik|            1|   Plata|
|  Pichurra|            1|   Plata|
| Julandron|            1|   Plata|
+----------+-------------+--------+